body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#starfield {
    width:100%;
    height:100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
    background:transparent;
}
Canvas {
    position:absolute;
    background:transparent;
}
#gameCanvas{
    z-index:5;
}
#weaponCanvas{
    z-index:7;
}
#enemyCanvas{
    z-index: 10;
}
#powerUpCanvas{
    z-index: 15;
}
#info {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#Score {
    width:80px;
    height:21px;
    border:1px solid white;
    border-radius: 2px;
    margin:10px;
    position: absolute;
    background-color:black;
}

#digit {
    width:60px;
    height:17px;
    margin:auto;
    margin-top:2px;
    background-color:white;
    z-index: 100;
    border-radius:1px;
}
#playerLife{
    height:80px;
    width: 230px;
    background:white;
    position:absolute;
    margin-top:48%;
    opacity: 0.2;
    border-radius: 0.5em;

}
#lifeContainer {
    width: 10px;
    height: 30px;
    background-color:white;
    margin-top:50px;
    position:absolute;
    border:1px solid #ffffff;
}
#gameOver {
    width:500px;
    height:500px;
    z-index: 1000;
    margin-left:370px;
    margin-top:70px;
    position:absolute;
    border-radius: 1000px;
    transition: box-shadow 1s;
    background: radial-gradient(ellipse closest-side, white, whitesmoke 10%, darkgray )opacity:0.5);
    color:white;
    font-family: "Comic Sans MS"
}
#gameStartMenu{
    width:500px;
    height:500px;
    z-index: 1000;
    margin-left:30%;
    margin-top:70px;
    position:absolute;
    border-radius: 1000px;
    transition: box-shadow 1s;
    background: radial-gradient(ellipse closest-side, white, whitesmoke 10%, darkgray )opacity:0.5);
    color:white;
    font-family: "Comic Sans MS"
}
#headerSpan {
    width:600px;
    height:100px;
    margin-left:50px;
    margin-top:90px;
}
#PlayerAlias {
    position:absolute;
    width:180px;
    height:30px;
    margin-left:160px;
}

#NotValidAlias{
    color:red;
    font-size: 3em;
    width:600px;
    height:250px;
    margin-left:360px;
    margin-top:500px;
    position:absolute;
    z-index:500;
}
#Controls {
    position:absolute;
    width:220px;
    height:30px;
    margin-left:140px;
    margin-top:120px;
    border-bottom:1px solid white;
}
#GameControls {
    position:absolute;
    width:180px;
    height:300px;
    margin-left:20px;
    margin-top:50px;
    border:1px solid white;
    color:#ffffff;
    -webkit-perspective: 800;
    -webkit-perspective-origin: center 300px;
}
#StartGame {
    position:absolute;
    width:220px;
    height:30px;
    margin-left:140px;
    margin-top:85px;
    border-bottom:1px solid white;
}
#Highscore {
    position:absolute;
    width:250px;
    height:30px;
    margin-left:120px;
    margin-top:155px;
    border-bottom:1px solid white;
}

#HighScoreDiv {
    position:absolute;
    width:250px;
    height:300px;
    margin-left:970px;
    margin-top:50px;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    color:#ffffff;
    white-space: pre;

}
#gameStartmenuPlayerName{
    position:absolute;
    width:150px;
    height:30px;
    margin-left:170px;
    margin-top:30px;
    border:1px solid white;
}
#gameOverPlayerName{
    position:absolute;
    width:150px;
    height:60px;
    margin-left:70px;
    margin-top:30px;

    overflow: auto;
}
#gameOverScore {
    position:absolute;
    width:200px;
    height:60px;
    margin-left:250px;
    margin-top:30px;
    overflow: auto;

}
#gameOverPlayAgain {
    position:absolute;
    width:300px;
    height:30px;
    margin-left:100px;
    margin-top:140px;
    border-bottom:1px solid white;
    text-align: center;
}
#gameOverSubmitScore {
    position:absolute;
    width:380px;
    height:30px;
    margin-left:60px;
    margin-top:100px;
    border-bottom:1px solid white;
    text-align: center;
}
img{
    background:transparent;
    z-index:1000;
}